<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>BASE</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">HOME</a></li>
            <li><a href="{% url 'basic_app:other' %}">OTHER</a></li>
            <li><a href="{% url 'admin:index' %}">ADMIN</a></li>
            <li><a href="{% url 'basic_app:relative' %}">RELATIVE</a></li>
        </ul>
    </nav>
    {% block content %}
        <!-- something -->
        <h3>IN BSAE block content</h3>
    {% endblock %}
</body>
</html>